{% if breadcrumbs %}
    <section class="bg-light">
        <div class="content-wrapper-small">
            <div class="breadcrumbs">
                {{ breadcrumbs | raw }}
            </div>
        </div>
    </section>
{% endif %}