<section id="main-cta" class="bg-primary img-bg py-lg" style="background-image:url(https://findaclub.com.au/wp-content/uploads/2026/06/team-min.jpg)">
    <div class="content-wrapper text-white mt-lg">
        <h2 class="mt-lg ">Want your club to stand out from the rest?</h2>
        <p class="h4 mt-0">Update your profile to confirm positions and show up in more search results.</p>
        <div class="inline-buttons"> 
            <a href="/contact" class="btn btn-primary rounded">Contact Us {% include 'icons/chevron-right.twig' with { 'color': '#fff'} %}</a>
        </div>
    </div>
</section>