<div class="nav-icons">
    <a href="/?s" class="rounded">
        {% include 'icons/search.twig' with { 'color': '#0074d9'} %}
        <span class="mobile-sr">Search Clubs</span>
    </a>
    <a href="/" class="rounded">
        {% include 'icons/menu.twig' %}
        <span class="mobile-sr">Menu</span>
    </a>
</div>